In [2]:

import pandas as pd
import numpy as np
csv = pd.read_csv("Resources\\big_data_num.csv")
csv.head(10)

# csv.dropna(thresh= 3)

   Price  Quantity  Demand  Interest  Stock
0      3   -213.25   38.94       NaN    NaN
1    293    457.81     NaN       NaN    NaN
2    293     46.71    8.69      2.99    NaN
3    483   1198.97  195.99      3.99   0.58
4    515     30.94   21.78      5.94   0.50
5    515      4.43    6.64      4.95    NaN
6    613    -54.04    7.30      7.72    NaN
7    613    127.70   42.76      6.22    NaN
8    643   -695.26  138.14     35.00    NaN
9    678   -226.36    4.98      8.33   0.38

## dropna fillna

In [3]:
csv.dropna()

     Price  Quantity  Demand  Interest  Stock
3      483   1198.97  195.99      3.99   0.58
4      515     30.94   21.78      5.94   0.50
9      678   -226.36    4.98      8.33   0.38
11     807    -14.33    3.95      2.00   0.53
12     868    134.72   21.78      5.94   0.50
..     ...       ...     ...       ...    ...
995  48165   -147.27    6.48      9.54   0.37
996  48197    154.74   40.97     14.45   0.57
997  48484     67.96   16.48      1.99   0.42
998  48484    133.83   20.24      6.67   0.49
999  48484    153.80   18.97      9.03   0.37

[956 rows x 5 columns]

In [4]:
csv.fillna(0)

     Price  Quantity  Demand  Interest  Stock
0        3   -213.25   38.94      0.00   0.00
1      293    457.81    0.00      0.00   0.00
2      293     46.71    8.69      2.99   0.00
3      483   1198.97  195.99      3.99   0.58
4      515     30.94   21.78      5.94   0.50
..     ...       ...     ...       ...    ...
995  48165   -147.27    6.48      9.54   0.37
996  48197    154.74   40.97     14.45   0.57
997  48484     67.96   16.48      1.99   0.42
998  48484    133.83   20.24      6.67   0.49
999  48484    153.80   18.97      9.03   0.37

[1000 rows x 5 columns]

In [5]:
csv.describe()

              Price      Quantity       Demand    Interest       Stock
count   1000.000000   1000.000000   981.000000  998.000000  967.000000
mean   29164.920000    166.124670    87.075494   13.399910    0.516701
std    17171.970504   1033.422308   207.880962   17.854705    0.136445
min        3.000000 -11053.600000     1.260000    0.490000    0.350000
25%    14347.750000    -86.827500     6.750000    3.300000    0.380000
50%    28802.000000      1.190000    22.840000    6.255000    0.540000
75%    43371.000000    161.217500    99.990000   14.472500    0.590000
max    59750.000000  10951.310000  3499.990000  147.120000    0.850000

In [6]:
csv.index

RangeIndex(start=0, stop=1000, step=1)